---
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout>
<div class="flex flex-col items-center justify-center p-6 m-10 mt-44 fixed inset-0 w-full h-full bg-cover bg-center -z-10" style="background-image: url('/class.jpg'); ">
	
	<p class="text-center text-xl leading-relaxed texte-quaternary">
		Bonjour, je suis <span class="font-bold text-tertiary">Melih SATI</span> et je suis actuellement étudiant en Troisième année de Bachelor Universitaire et Technologique (BUT)
		Multimédia et Métiers de l'Internet à l'Université de Limoges. Grâce aux différents projets que j'ai pu réaliser au cours de mes études, j'ai pu
		découvrir et acquérir de nombreuses compétences dans plusieurs domaines liés au web, comme par exemple le <span class="font-semibold text-tertiary">développement web</span>, le <span class="font-semibold text-tertiary">design graphique</span>,
		le <span class="font-semibold text-tertiary">design d'interface utilisateur</span>, l'<span class="font-semibold text-tertiary">expérience utilisateur</span>, la création et l'animation de logos, et bien d'autres encore.
	</p>
</div>

	

</BasicLayout>
