---
import BasicLayout from "../layouts/BasicLayout.astro"
---
<BasicLayout>

			
			<div class=" flex flex-col gap-15">
				<div class="h-[400px] bg-cover bg-center" style="background-image: url('/bgpark.jpg');"></div>
				<div class=" flex flex-col gap-2">
					<h1 class="items-center text-primary text-center text-9xl ">  </h1>
					<h1 class="items-center text-primary text-center text-9xl ">Welcome to my portfolio</h1>
				
				</div>

				<div class="flex flex-col gap-2 border-quinary m-8 pt-5 pb-5">
					<!-- <h1 class="text-4xl text-primary ">About Me</h1> -->
					
					<p class=" text-center text-xl">im <span class="text-tertiary text-2xl "> Melih </span> a second year student thats studies in <span class="text-tertiary text-2xl ">multimedia and comunication </span> at the univerity of Limoges !</p>
					<p class=" text-center text-xl"> im passionate about digital creation and UI/UX design</p>
					<p class="text-primary text-center" >Nice to meet you !</p>
				</div>
				
			</div>
			
</BasicLayout> 

